<!DOCTYPE html>
<html lang="en">
    <head>
        {% block rss %}
        <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
        {% endblock %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/app.css" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

        <!-- analytics -->
        <script defer src="https://murmur.kunze.cc/script.js" data-website-id="4c5c4cbd-847f-4018-98ef-6150d88e5d59"></script>

        <!-- katex rendering  -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.css" integrity="sha384-RZU/ijkSsFbcmivfdRBQDtwuwVqK7GMOw6IMvKyeWL2K5UAlyp6WonmB8m7Jd0Hn" crossorigin="anonymous">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/katex.min.js" integrity="sha384-pK1WpvzWVBQiP0/GjnvRxV4mOb0oxFuyRxJlk6vVw146n3egcN5C925NCP7a7BY8" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.13/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous" onload="renderMathInElement(document.body, {
            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false}
            ]
        });"></script>
        <title>Tarek Kunze</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>&nbsp;&nbsp;&nbsp;
                <!-- <li><a href="/blog">Blog</a></li>&nbsp;&nbsp;&nbsp; -->
                <li><a href="/s">Snippets</a></li>
            </ul>
        </nav>
        <div class="content">{% block content %} {% endblock %}</div>
        <footer>
            <hr />
            &copy; Tarek Kunze
        </footer>
    </body>
</html>
