{% extends "base.html" %} 

{% block content %}

<header>
    <h1>Tarek Kunze</h1>
    <aside>Machine Learning Research Engineer</aside>
    <a href="https://github.com/arxaqapi" target="_blank"><img width="24" height="24" src="/GitHub-Mark-64px.png" alt=""></a>
    <a href="https://orcid.org/0009-0009-2158-597X" target="_blank"><img width="24" height="24" src="/ORCID-iD_icon_BW_vector.svg" alt=""></a>
    <a href="https://scholar.google.com/citations?user=WHTG2_kAAAAJ" target="_blank"><img width="26" height="26" src="/google-scholar_bnw.svg" alt=""></a>
</header>

<section>
    <h2>Publications</h2>

    <p class="paper">
        <!-- title -->
        <a href="https://doi.org/10.48550/arXiv.2607.03201" target="_blank" rel="noopener noreferrer">
            Deriving Benchmarking Datasets from Long-Form Recordings: Challenges and Opportunities
        <a href="https://arxiv.org/abs/2607.03201" target="_blank" rel="noopener noreferrer"></a>
        <br>
        <!-- authors -->
        👥 K. K. Sheth, L. Borst, <b>T. Kunze</b>, M. Lavechin, O. Räsänen, S. Tsuji, L. Peurey, A. Bourrée, A. Cristia
        <br>
        <!-- conference -->
        🗓️ Interspeech 2026
        <br> 
        <a href="https://arxiv.org/abs/2607.03201" target="_blank" rel="noopener noreferrer">
            👷🏼 preprint
        </a>
    </p>

    <p class="paper">
        <!-- title -->
        <a href="https://doi.org/10.48550/arXiv.2509.15001" target="_blank" rel="noopener noreferrer">
            Context-aware child-directed speech detection from long-form recordings
        <a href="https://arxiv.org/abs/2606.01134" target="_blank" rel="noopener noreferrer"></a>
        <br>
        <!-- authors -->
        👥 T. Charlot, <b>T. Kunze</b>, K. K. Sheth, A. Cristia, M. Lavechin
        <br>
        <!-- conference -->
        🗓️ Interspeech 2026
        <br> 
        <a href="https://github.com/LAAC-LSCP/addressee" target="_blank" rel="noopener noreferrer">
            💾 code —
        </a>
        <a href="https://arxiv.org/abs/2606.01134" target="_blank" rel="noopener noreferrer">
            👷🏼 preprint
        </a>
    </p>

    <p class="paper">
        <!-- title -->
        <a href="https://doi.org/10.48550/arXiv.2509.15001" target="_blank" rel="noopener noreferrer">
            BabyHuBERT: Multilingual Self-Supervised Learning for Segmenting Speakers in Child-Centered Long-Form Recordings
        <a href="https://arxiv.org/abs/2509.15001" target="_blank" rel="noopener noreferrer"></a>
        <br>
        <!-- authors -->
        👥 T. Charlot, <b>T. Kunze</b>, <a href="https://mpoli.fr/" target="_blank" rel="noopener noreferrer">M. Poli</a>, A. Cristia, E. Dupoux and M. Lavechin
        <br>
        <!-- conference -->
        🗓️ Interspeech 2026
        <br> 
        <a href="https://github.com/LAAC-LSCP/VTC" target="_blank" rel="noopener noreferrer">
            💾 code —
        </a>
        <a href="https://arxiv.org/abs/2509.15001" target="_blank" rel="noopener noreferrer">
            👷🏼 preprint
        </a>
    </p>

    <p class="paper">
        <!-- title -->
        <a href="https://doi.org/10.21437/Interspeech.2025-1962" target="_blank" rel="noopener noreferrer">
            Challenges in Automated Processing of Speech from Child Wearables: The Case of Voice Type Classifier
        </a>
        <br>
        <!-- authors -->
        👥 <b>T. Kunze</b>, M. Metais, H. Titeux, L. Elbert, J. Coffey, E. Dupoux, A. Crisita and M. Lavechin.
        <br>
        <!-- conference -->
        🗓️ Interspeech 2025
        <br> 
        <!-- 📜 paper - 💾 code - 👷🏼 preprint -->
        <a href="https://www.isca-archive.org/interspeech_2025/kunze25_interspeech.pdf" target="_blank" rel="noopener noreferrer">
            📜 paper —
        </a>
        <a href="https://github.com/LAAC-LSCP/VTC-IS-25" target="_blank" rel="noopener noreferrer">
            💾 code —
        </a>
        <a href="https://arxiv.org/abs/2506.11074" target="_blank" rel="noopener noreferrer">
            👷🏼 preprint —
        </a>
        <a href="papers/2025_IS_vtc_poster_interspeech_1962.pdf" target="_blank" rel="noopener noreferrer">
            🖼️ Poster
        </a>
    </p>

    <p class="paper">
        <!-- title -->
        <a href="https://doi.org/10.21437/Interspeech.2025-1987" target="_blank" rel="noopener noreferrer">
            Fifteen Years of Child-Centered Long-Form Recordings: Promises, Resources, and Remaining Challenges to Validity
        </a>
        <br>
        <!-- authors -->
        👥 L. Peurey, M. Lavechin, <b>T. Kunze</b>, M. Khentout, L. Gautheron, E. Dupoux and A. Crisita.
        <br>
        <!-- conference -->
        🗓️ Interspeech 2025
        <br> 
        <!-- 📜 paper - 💾 code - 👷🏼 preprint -->
        <a href="https://www.isca-archive.org/interspeech_2025/peurey25_interspeech.pdf" target="_blank" rel="noopener noreferrer">
            📜 paper —
        </a>
        <a href="https://arxiv.org/abs/2506.11075" target="_blank" rel="noopener noreferrer">
            👷🏼 preprint
        </a>
    </p>

    <p class="paper">
        <!-- title -->
        <a href="https://doi.org/10.1109/CEC60901.2024.10612026" target="_blank" rel="noopener noreferrer">
            Searching Search Spaces: Meta-evolving a Geometric Encoding for Neural Networks
        </a>
        <br>
        <!-- authors -->
        👥 <b>T. Kunze</b>, P. Templier, and D. Wilson. 
        <br>
        <!-- conference -->
        🗓️ IEEE Congress on Evolutionary Computation (CEC) 2024
        <br> 
        <!-- 📜 paper - 💾 code - 👷🏼 preprint -->
        <a href="papers/2024_cec_meta_gene.pdf" target="_blank" rel="noopener noreferrer">
            📜 paper —
        </a>
        <a href="https://github.com/arxaqapi/gene.jax" target="_blank" rel="noopener noreferrer">
            💾 code —
        </a>
        <a href="https://arxiv.org/abs/2403.14019" target="_blank" rel="noopener noreferrer">
            👷🏼 preprint
        </a>
    </p>

    <p class="paper">
        <!-- title -->
        <a href="https://doi.org/10.1007/978-3-030-86772-0_1" target="_blank" rel="noopener noreferrer">
            Analogies between sentences: Theoretical aspects - preliminary experiments
        </a>
        <br>
        <!-- authors -->
        👥 S. Afantenos, <b>T. Kunze</b>, S. Lim, H. Prade and G. Richard. 
        <br>
        <!-- conference -->
        🗓️ ECSQARU 2021
        <br> 
        <!-- 📜 paper - 💾 code - 👷🏼 preprint -->
        <a href="papers/Afantenos2021_Analogies.pdf" target="_blank" rel="noopener noreferrer">
            📜 paper —
        </a>
        <a href="https://github.com/arxaqapi/analogy-classifier" target="_blank" rel="noopener noreferrer">
            💾 code
        </a>
    </p>

</section>
{% endblock content %}
