{% extends "base.html" %} 

{% block content %}

<header>
    <h1>Tarek Kunze</h1>
    <a href="https://github.com/arxaqapi" target="_blank"><img width="48" height="48" src="/GitHub-Mark-64px.png" alt=""></a>
    <aside>AI & Machine Learning Engineer | Applied Research Enthusiast</aside>
</header>

<section>
    <h2>Papers</h2>

    <p class="paper">
        📜 Searching Search Spaces: Meta-evolving a Geometric Encoding for Neural Networks
        <br>
        👥 T. Kunze, P. Templier, and D. Wilson. 
        <br>
        🗓️ 2024
    </p>

    <p class="paper">
        <a href="papers/Afantenos2021_Analogies.pdf" target="_blank" rel="noopener noreferrer">
            📜 Analogies between sentences: Theoretical aspects -
            preliminary experiments
        </a>
        <br>
        👥 S. Afantenos, T. Kunze, S. Lim, H. Prade and G. Richard. 
        <br>
        🗓️ 
        <a href="https://link.springer.com/chapter/10.1007/978-3-030-86772-0_1" target="_blank" rel="noopener noreferrer">
            ECSQARU 2021
        </a>
    </p>
</section>
{% endblock content %}
